[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.1.0"
requests = "*"
peewee = "*"
pytz = "*"

[dev-packages]
black = "==20.8b1"
setuptools = "*"
pep517 = "*"
mypy = "*"

[requires]
python_version = "3"
